
<div class="navbar-left tweets">
  <p class="text-center">Tweets from T-Rex Problems</p>
  <p class="text-center">{{ isLinux ? 'on a Linux' : 'Not on a Linux' }}</p>
  <ul>
    {% for tweet in tweets %}
      <li>{{ tweet }}</li>
    {% endfor %}
  </ul>
</div>

